POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=humanguard
APP_DOMAIN=example.com
STORAGE_TYPE=minio
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=humanguard
MINIO_USE_SSL=false
GITHUB_CLIENT_ID=Ov23liS2ACKpxnsCmUTN
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=415520701078-tao9pkk5klt1b4bs0c9a9fva3131tdd9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=