POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=humanguard
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
KEYCLOAK_ADMIN=keycloakadmin
KEYCLOAK_ADMIN_PASSWORD=keycloakadmin123
APP_DOMAIN=example.com

JWT_SECRET=super-secret-key
STORAGE_TYPE=minio
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=bucket
MINIO_USE_SSL=false
CORS_ORIGIN=http://localhost
FRONTEND_URL=http://localhost

OAUTH_CLIENT_ID=humanguard
OAUTH_CLIENT_SECRET=kc-secret
KEYCLOAK_REDIRECT_URL=http://localhost:8080/api/auth/keycloak/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URL=http://localhost:8080/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
OAUTH_GITHUB_REDIRECT_URL=http://localhost:8080/api/auth/github/callback

KEYCLOAK_REDIRECT_AUTH_URL=http://localhost:8081/realms/master/protocol/openid-connect/auth
KEYCLOAK_TOKEN_URL=http://localhost:8081/realms/master/protocol/openid-connect/token
KEYCLOAK_INFO_URL=http://localhost:8081/realms/master/protocol/openid-connect/userinfo

DEFAULT_ADMIN_EMAIL=admin@mail.local
DEFAULT_ADMIN_PASSWORD=admin123
