POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=humanguard
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
KEYCLOAK_ADMIN=keycloakadmin
KEYCLOAK_ADMIN_PASSWORD=keycloakadmin123
APP_DOMAIN=example.com
