POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=humanguard
APP_DOMAIN=example.com
STORAGE_TYPE=minio
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=humanguard
MINIO_USE_SSL=false
GITHUB_CLIENT_ID=Ov23liS2ACKpxnsCmUTN
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=415520701078-tao9pkk5klt1b4bs0c9a9fva3131tdd9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

DATABASE_URL=postgres://postgres:123@localhost:5432/humanguard?sslmode=disable
JWT_SECRET=super-secret-key
OAUTH_CLIENT_ID=humanguard
OAUTH_CLIENT_SECRET=1meWH6qPeEhd17APBADgo20Mth1J5pzP
KEYCLOAK_REDIRECT_URL=http://localhost:8080/api/auth/keycloak/callback
PORT=8080
CORS_ORIGIN=http://localhost:5173
UPLOAD_DIR=./data/uploads

DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_NAME=System Admin